<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.projeku.berita">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Daftar"/>
        <activity android:name=".Lupa"/>
        <activity android:name=".HomeWarga"/>
        <activity android:name=".KasDetail" android:label="Info Kas"/>
        <activity android:name=".ActivityMap"/>
        <activity android:name=".Kas"/>
        <activity android:name=".HomeSatpam"/>
        <activity android:name=".HomeBendahara"/>
        <activity android:name=".RtAdd" android:label="Tambah Jabatan"/>
        <activity android:name=".HomeRt"/>
        <activity android:name=".EditProfile"/>
        <activity android:name=".HomeAdmin"/>
        <activity android:name=".BeritaKejahatanAdd" android:label="Post Berita Kejahatan"/>
        <activity android:name=".SatpamAdd" android:label="Tambah Ronda"/>
        <activity android:name=".ActivityMapNotif" android:label="Lokasi Warga"/>

        <!--======== map =========-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC9L_a21XOKQZuycNP8WMFNKvqyJfXu1Fk" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--======== Firebase =========-->
        <service
            android:name=".Fcm.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".Fcm.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
    </application>

</manifest>